{% extends 'root.html' %}
{% block title %}
    Products
{% endblock %}
{% block content %}
    <h2>Try our cakes:</h2>
    <ul>
        {% for el in object_list %}
            <li>
                <a href="{% url 'cake_detail' pk=el.pk %}">{{ el.name }} ({{ el.price }}$)</a>
                <span>
                    <a href="{% url 'cakes_update' pk=el.pk %}">Edit</a>
                </span>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'cakes_create' %}">Create</a>
{% endblock %}
